{% extends "base.html" %} {% block content %} {{ section.content | safe }} {%
for post in section.pages | sort(attribute="date") | reverse %}

<div class="project-preview">
  <a target="_blank" href="{{ post.path }}">
    <h3 class="project-title">{{ post.title }}</h3>
    <img src="{{ resize_image(path=post.description, width=280, height=373,
    op="fit") }}" alt="profile picture">
  </a>
  <div class="summary">
    {% if post.summary -%} {{ post.summary }} {% else %} {{ post.content | safe
    | striptags | truncate(length=300) }} {%- endif %}
  </div>
</div>
{% endfor %} {% endblock content %}
